@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --work: 'Work Sans', sans-serif;
    --int: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
}

header {
    padding: 20px 100px;
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 100;

    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.cart__ico {
    position: relative;
    cursor: pointer;
}

.cart__ico span {
    position: absolute;
    bottom: -10%;
    right: -20%;
    background: #EA0000;
    color: #fff;
    font-family: var(--int);
    padding: 2px 3px 1px;
    border-radius: 16px;
    min-width: 16px;
    height: 16px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
}

section {
    padding: 0px 163px 0 250px;
}

h1 {
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    position: absolute;
    color: #192552;
    opacity: 0;
    font-family: var(--work);
}

.title {
    position: relative;

}

.title img {
    max-width: 100%;
    pointer-events: none;
    margin-right: 100px;
    z-index: 1;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: -200px;

}

.main p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    font-family: var(--int);
    color: #000;
    max-width: 493px;
    z-index: 20;
    margin: 0;
}

.main p:last-child {
    max-width: 554px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 55px;
    grid-auto-flow: dense;
    margin-top: 100px;
}

.product {
    display: flex;
    flex-direction: column;
}

.product__img {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 240px;
    padding: 0 13px;
}

.product .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.name span, .name small {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    font-family: var(--work);
}

.name span {
    color: #2B3041;
}

.name small {
    color: #000;
}

.product button {
    margin-top: 11px;
    border-radius: 10px;
    border: 1.5px solid #2B3041;
    padding: 7px 15px;
    background: transparent;

    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    font-family: var(--work);
    color: #2B3041;
    transition: all .3s ease;
}

.product button:hover {
    background: #2977F6;
    color: #fff;
    border: 1.5px solid #2977F6;
}

.active {
    background: #2977F6 !important;
    color: #fff !important;
    border: 1.5px solid #2977F6 !important;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0 60px;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer__logo span {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: var(--work);
    color: #9A9A9A;
}

.links {
    display: flex;
    gap: 66px;
}

.links div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links .socials {
    flex-direction: row;
    gap: 32px;
}

.links a, .links span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: var(--work);
    color: #2B3041;
}

.cart {
    padding: 30px 54px;
}

.cart__header {
    display: flex;
    justify-content: space-between;

}

.cart__header img {
    cursor: pointer;
}

.cart__header span {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: var(--int);
    color: #000;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1047px;
        margin: 1.75rem auto;
    }
}

.modal-content {
    border: 0 !important;
}

.cart__body {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.cart__items {
    display: flex;
    flex-direction: column;
}

.cart__item {
    padding: 20px 18px 20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    border-top: 2px solid #D5D6D9;
    border-bottom: 2px solid #D5D6D9;
}

.cart__item:not(:first-child) {
    border-top: 0;
}

.cart__item .name {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    font-family: var(--work);
    color: #2B3041;
    margin: 0 0 0 22px;
}

.total {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.cart__img {
    width: 128px;
}

.cart__img img {
    max-width: 100%;
    max-height: 75px;
}

.count {
    display: flex;
    gap: 14px;
    align-items: center;
}

.count img {
    cursor: pointer;
}

.count small {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    font-family: var(--int);
    color: #000;
}

.total span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    font-family: var(--int);
    color: #2B3041;
}

.total__items {
    margin-top: 10px;
    margin-right: 18px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    font-family: var(--work);
    color: #2B3041;
    display: block;
}

.send__checker {
    display: flex;
    gap: 30px;
    margin-right: 19px;
}

.send__checker span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    font-family: var(--work);
    color: #000;
}

.send__checker div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.send__checker input,
.send__checker label {
    display: block;
    margin: 0;
}

.send__checker label {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    font-family: var(--work);
    color: #000;
}

.inputs {
    margin-top: 10px;
}

.inputs input {
    border-radius: 10px;
    background: transparent;
    border: 1px solid #D5D6D9;
    padding: 15px 20px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    font-family: var(--work);
    width: 100%;
}

.cart__send button {
    width: 100%;
    border-radius: 10px;
    background: #2977F6;
    border: 0;
    padding: 15px 0;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    font-family: var(--work);
    color: #fff;
    transition: all .3s ease;
    margin-top: 20px;
}

.warning {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.warning span {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    font-family: var(--work);
    color: #616161;
}

.onevision-widget {
    z-index: 10000;
}

.radios {
    display: flex !important;
    gap: 30px !important;
}

.cart__sect {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: start;
    justify-content: space-between;
}

@media (max-width: 1600px) {
    .main {
        margin-top: -100px;
    }

    .title img {
        margin: 0;
    }

    h1 {
        font-size: 1px;
    }

    section {
        padding: 0px 150px 0 150px;
    }
}

@media (max-width: 1500px) {
    .main {
        margin-top: -50px;
    }

    .title {
        padding-top: 50px;
    }

    section {
        padding: 0px 70px 0 70px;
    }

    header {
        padding: 20px 70px;
    }
}

@media (max-width: 1250px) {
    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    .main p {
        max-width: 100% !important;
    }
}

@media (max-width: 1024px) {
    .main p {
        font-size: 12px;
    }

    .main {
        margin-top: 0px;
    }

    .title {
        padding-top: 100px;
    }

    section {
        padding: 0px 20px 0 20px;
    }

    header {
        padding: 30px 20px;
    }

    footer {
        flex-direction: column;
        gap: 20px;
        padding: 20px 20px 25px;
        margin: 30px 0 0;
    }

    footer img {
        max-width: 100px;
        height: 33px;
    }

    .links {
        gap: 25px;
        justify-content: space-between;
    }

    .links .socials {
        flex-direction: column;
        gap: 20px;
    }

    .products {
        margin-top: 20px;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(240px, 240px));
        justify-content: center;
    }

    .cart__body {
        flex-direction: column;
        gap: 10px;
    }

    .cart {
        padding: 20px;
    }

    .send__checker {
        flex-direction: column;
        gap: 10px;
    }

    .cart__sect {
        height: 75px;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }
}